{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Информация о товаре - {{ object_list.product_name }}</h1>
        <div class="card mb-4 box-shadow mr-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ title }}</h4>
                <img src="{{ object_list.product_image|mymedia }}" width="200" height="140"/>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object_list.product_purchase_price }} RUR</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{ object_list.product_description|slice:120 }}</li>
                    <li>- {{ object_list.product_category }}</li>
                    <li>- {{ object_list.product_date_of_create }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
